name: 'Build managed image'

on: 
  push:
    branches:
      - main
    paths:
      - '.github/workflows/managed_rebuilder.yaml'

jobs:
  pull-tag-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: "0"
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          docker.io/${{ github.repository_owner }}/build-deploy-image
          ghcr.io/${{ github.repository_owner }}/build-deploy-image
        tags: |
          type=raw,value=next-managed
    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: managed.Dockerfile
        # platforms: linux/amd64,linux/arm64
        platforms: linux/amd64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}